body {
   font-family: "Anek Latin";
   color: #435F78;
   position: relative;
   min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}

h2 {
    font-size: 60px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 50px; 
}

p {
    font-size: 25px;
}

figcaption {
    font-size: 20px;
    text-align: justify;
    padding: 20px;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

/*button*/

.button {
    border-style: solid;
    border-width: 2px;
    border-color: #435F78;
    border-radius: 15px;
    padding: 20px 75px 20px;
    text-align: center;
}

a:link, a:visited {
    font-size: 25px;
    color: #435F78;
    text-decoration: none;
}

a:hover {
    color: #F1962D;
    border-color: #F1962D;
}

/********HEADER********/

header {
    height: 195px;
}

.logoHeader {
    float: left;
    margin-left: 20px;
}

.navigation {
    float: right;
}

.navigation li {
    display: inline-block;
    padding: 40px;
    padding-top: 65px;
}

/********FOOTER********/

footer {
    background-color: #435F78;
    height: 195px;
    
    width: 100%;
    clear: both;
}

.logoFooter {
    float: right;
    margin-right: 20px;
}

.pFooter {
    color: #FFFFFD;
    float: left;
    margin-left: 40px;
    padding-top: 110px;
}

/********HOME PAGE********/

#campusSection {
    margin-bottom: 50px;
}

#bannerBikeTheCity {
    background-image: url("Images/bannerBikeTheCity.png");
    background-size: cover;
    width: 100%;
    min-height: 700px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
  }

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

.row:after { /*******vaata üle*******/
    content: "";
    display: table;
    clear: both;
  }

.joinButton {
    display: flex;
    justify-content: center;
    padding: 20px 0px 50px;
}

/********CAMPUS PAGE********/

.bannerSecondary {
    background-color: #B0C3D4;
    height: 500px;
}

.bannerSecondaryText {
    text-align: left;
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
}

.bannerSecondaryText p {
    margin-bottom: 50px;
}

#Availability {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#fiftyOrLess {
    background-color: #e1e9f1;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
    width: 180px; 
    margin-left: 50px;
}

#tenOrLess {
    background-color: #F7CA95;
    border-radius: 15px;
    padding: 10px 30px 10px 30px;
    width: 180px; 
    margin-left: 50px;
}

.swedishUniversities li {
    font-size: 20px;
    font-weight: 600;
    background-color: #e1e9f1;
    padding: 10px 0px 10px 30px;
    width: 90%;
    margin: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #435F78;
    border-radius: 15px;

    break-inside: avoid; /* Ensures that list items do not break across columns */
}

.SwedishUniversities ul {
    columns: 2;
    column-gap: 5px; 
  }

#low-bikes ul li {
    background-color: #F7CA95;
  }

#bikeNumber {
    border: none;
    font-weight: 400;
    width: 75%;
}

/********ABOUT********/

/*#aboutSection {
    margin-bottom: 50px;
}

.leftColumnText {
    float: left;
    width: 550px;
    height: 600px;
    margin-left: 100px;
}

.rightColumnPicture {
    float: right;
    margin-right: 100px;
    margin-top: 75px;
    height: 600px;
}

.rightColumnText {
    float: right;
    width: 550px;
    height: 600px;
    margin-right: 100px;
}

.leftColumnPicture {
    float: left;
    margin-left: 100px;
    margin-top: 75px;
    height: 600px;
} */

.leftColumnText,
.rightColumnText {
    width: 550px;
    height: 600px;
}

.rightColumnPicture,
.leftColumnPicture {
    height: 600px;
}

.leftColumnText {
    float: left;
    margin-left: 100px;
}

.rightColumnPicture,
.rightColumnText {
    float: right;
    margin-right: 100px;
    margin-top: 75px;
}

.leftColumnPicture {
    float: left;
    margin-left: 100px;
    margin-top: 75px;
}

/* For smaller screens */
@media screen and (max-width: 768px) {
    .leftColumnText,
    .rightColumnText,
    .rightColumnPicture,
    .leftColumnPicture {
        width: auto;
        float: none;
        margin: 0;
        height: auto;
    }
}

/********JOIN********/

input[type=submit] {
    border-style: solid;
    border-width: 2px;
    border-color: #435F78;
    border-radius: 15px;
    padding: 10px 40px 10px;
    text-align: center;
    background-color: white;
    font-size: 15px;
    color: #435F78;
    font-family: "Anek Latin";
}

input[type=text] {
    padding-top: 15px;
    border: none;
    border-bottom: 1px solid #435F78;
}

.formNote {
    font-size: 16px;
}

.joinForm {
    float: right;
    width: 40%;
    margin-bottom: 50px;
}

.joinCard {
    float: left;
    margin-left: 200px
}

.joinCard img {
    padding: 5px;
}

/********CONTACT********/

#contactSection {
    margin-top: 50px;
    margin-bottom: 50px;
}

#contactSection img {
    margin-bottom: 20px;
}

#contactSection p {
    margin: 5px;
}

.name {
    font-weight: 600;
}

.quote {
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
}

.employee {
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
    width: 30%;
    display: inline-block;
}
